@model IEnumerable<TheLoai>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
    <div class="dropdown-menu" aria-labelledby="dropdown04">
        @foreach (var item in Model)
        {
            <a href="#" class="dropdown-item">@item.Name</a>
        }
    </div>
</li>



